trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - src/**
      - docker/**
      - azure-pipelines.yml

pr:
  branches:
    include:
      - main
      - develop

variables:
  # Build Configuration
  buildConfiguration: 'Release'
  dotnetVersion: '10.0.x'
  
  # Docker Configuration
  dockerRegistryServiceConnection: 'TrelloDockerRegistry'
  imageRepository: 'trello-microservices'
  containerRegistry: 'trelloacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)'
  tag: '$(Build.BuildId)'
  
  # Azure Resources
  azureSubscription: 'TrelloAzureSubscription'
  resourceGroupName: 'rg-trello-microservices'
  location: 'canadaeast'

stages:
  - stage: Build
    displayName: 'Build and Test'
    jobs:
      - job: BuildServices
        displayName: 'Build .NET Services'
        pool:
          vmImage: 'ubuntu-latest'
        
        steps:
          - task: UseDotNet@2
            displayName: 'Install .NET SDK'
            inputs:
              packageType: 'sdk'
              version: $(dotnetVersion)
              includePreviewVersions: false
          
          - task: DotNetCoreCLI@2
            displayName: 'Restore Product Service'
            inputs:
              command: 'restore'
              projects: 'src/product-service/product-service.csproj'
          
          - task: DotNetCoreCLI@2
            displayName: 'Restore Order Service'
            inputs:
              command: 'restore'
              projects: 'src/order-service/order-service.csproj'
          
          - task: DotNetCoreCLI@2
            displayName: 'Build Product Service'
            inputs:
              command: 'build'
              projects: 'src/product-service/product-service.csproj'
              arguments: '--configuration $(buildConfiguration) --no-restore'
          
          - task: DotNetCoreCLI@2
            displayName: 'Build Order Service'
            inputs:
              command: 'build'
              projects: 'src/order-service/order-service.csproj'
              arguments: '--configuration $(buildConfiguration) --no-restore'
          
          # Uncomment when tests are available
          # - task: DotNetCoreCLI@2
          #   displayName: 'Run Tests'
          #   inputs:
          #     command: 'test'
          #     projects: '**/*Tests.csproj'
          #     arguments: '--configuration $(buildConfiguration) --no-build --collect:"XPlat Code Coverage"'
          
          - task: PublishCodeCoverageResults@1
            displayName: 'Publish Code Coverage'
            condition: succeededOrFailed()
            inputs:
              codeCoverageTool: 'Cobertura'
              summaryFileLocation: '$(Agent.TempDirectory)/**/*coverage.cobertura.xml'

  - stage: BuildDockerImages
    displayName: 'Build Docker Images'
    dependsOn: Build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - job: BuildAndPushImages
        displayName: 'Build and Push Docker Images'
        pool:
          vmImage: 'ubuntu-latest'
        
        steps:
          - task: Docker@2
            displayName: 'Build Product Service Image'
            inputs:
              command: 'build'
              repository: '$(imageRepository)-product'
              dockerfile: 'src/product-service/Dockerfile'
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest
              buildContext: '$(Build.SourcesDirectory)/src/product-service'
          
          - task: Docker@2
            displayName: 'Push Product Service Image'
            inputs:
              command: 'push'
              repository: '$(imageRepository)-product'
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest
          
          - task: Docker@2
            displayName: 'Build Order Service Image'
            inputs:
              command: 'build'
              repository: '$(imageRepository)-order'
              dockerfile: 'src/order-service/Dockerfile'
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest
              buildContext: '$(Build.SourcesDirectory)/src/order-service'
          
          - task: Docker@2
            displayName: 'Push Order Service Image'
            inputs:
              command: 'push'
              repository: '$(imageRepository)-order'
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest

  - stage: DeployInfrastructure
    displayName: 'Deploy Azure Infrastructure'
    dependsOn: BuildDockerImages
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - job: DeployBicep
        displayName: 'Deploy Bicep Templates'
        pool:
          vmImage: 'ubuntu-latest'
        
        steps:
          - task: AzureCLI@2
            displayName: 'Deploy Service Bus Infrastructure'
            inputs:
              azureSubscription: $(azureSubscription)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment group create \
                  --resource-group $(resourceGroupName) \
                  --template-file $(Build.SourcesDirectory)/infra/servicebus.bicep \
                  --name "servicebus-deployment-$(Build.BuildId)"
          
          - task: AzureCLI@2
            displayName: 'Deploy SQL Server and Databases'
            inputs:
              azureSubscription: $(azureSubscription)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment group create \
                  --resource-group $(resourceGroupName) \
                  --template-file $(Build.SourcesDirectory)/infra/sqlserver.bicep \
                  --parameters sqlAdminPassword="$(SQL_ADMIN_PASSWORD)" location="westus2" \
                  --name "sqlserver-deployment-$(Build.BuildId)"
          
          - task: AzureCLI@2
            displayName: 'Deploy App Services'
            inputs:
              azureSubscription: $(azureSubscription)
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                # Get ACR credentials
                ACR_USERNAME=$(az acr credential show --name trelloacr --query "username" -o tsv)
                ACR_PASSWORD=$(az acr credential show --name trelloacr --query "passwords[0].value" -o tsv)
                
                # Get Service Bus connection string
                SERVICEBUS_CONN=$(az servicebus namespace authorization-rule keys list \
                  --resource-group $(resourceGroupName) \
                  --namespace-name trello-servicebus-fumbtexxi35ii \
                  --name RootManageSharedAccessKey \
                  --query primaryConnectionString -o tsv)
                
                # Get SQL connection strings from deployment outputs
                PRODUCT_DB_CONN=$(az deployment group show \
                  --resource-group $(resourceGroupName) \
                  --name "sqlserver-deployment-$(Build.BuildId)" \
                  --query properties.outputs.productConnectionString.value -o tsv)
                
                ORDER_DB_CONN=$(az deployment group show \
                  --resource-group $(resourceGroupName) \
                  --name "sqlserver-deployment-$(Build.BuildId)" \
                  --query properties.outputs.orderConnectionString.value -o tsv)
                
                # Deploy App Services
                az deployment group create \
                  --resource-group $(resourceGroupName) \
                  --template-file $(Build.SourcesDirectory)/infra/appservices.bicep \
                  --parameters \
                    containerRegistryUsername="$ACR_USERNAME" \
                    containerRegistryPassword="$ACR_PASSWORD" \
                    serviceBusConnectionString="$SERVICEBUS_CONN" \
                    productDbConnectionString="$PRODUCT_DB_CONN" \
                    orderDbConnectionString="$ORDER_DB_CONN" \
                    imageTag="$(tag)" \
                  --name "appservices-deployment-$(Build.BuildId)"

  # - stage: DeployServices
  #   displayName: 'Deploy Services'
  #   dependsOn: DeployInfrastructure
  #   condition: succeeded()
  #   jobs:
  #     - deployment: DeployToAppService
  #       displayName: 'Deploy to Azure App Service'
  #       pool:
  #         vmImage: 'ubuntu-latest'
  #       environment: 'production'
  #       strategy:
  #         runOnce:
  #           deploy:
  #             steps:
  #               - task: AzureWebAppContainer@1
  #                 displayName: 'Deploy Product Service'
  #                 inputs:
  #                   azureSubscription: $(azureSubscription)
  #                   appName: 'app-trello-product-prod' # Update with app name
  #                   containers: '$(containerRegistry)/$(imageRepository)-product:$(tag)'
  #               
  #               - task: AzureWebAppContainer@1
  #                 displayName: 'Deploy Order Service'
  #                 inputs:
  #                   azureSubscription: $(azureSubscription)
  #                   appName: 'app-trello-order-prod' # Update with app name
  #                   containers: '$(containerRegistry)/$(imageRepository)-order:$(tag)'
